html
  head
    title salerno
    meta(name='description', content='Profile')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/public/style.css')
  body
    h1.border.center salerno
    h2.center#welcome Welcome, #{username}!
    div.center
      a(href='/chat') Goto Chat Room
    a(href='/logout') Logout